
projects/porterga-ruarka/URLValidatorInCorrect/.idea/workspace.xml
*.xml
projects/porterga-ruarka/URLValidatorInCorrect/target/surefire-reports/finalprojectB.UrlValidatorTest.txt
projects/porterga-ruarka/URLValidatorInCorrect/target/surefire-reports/TEST-finalprojectB.UrlValidatorTest.xml
